
FlickrPetProject.xcodeproj/xcuserdata/cloud.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcuserstate
FlickrPetProject.xcodeproj/project.xcworkspace/xcuserdata/cloud.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
